In [1]:
import pandas as pd
import numpy as np

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
import joblib

In [2]:
pd.options.mode.chained_assignment = None

In [16]:
df = pd.read_csv("data/titanic_train.csv")
df

,Unnamed: 0,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,998,999,3rd,1,"McCarthy, Miss Katie",NaN,NaN,NaN,NaN,NaN,NaN,female
1,179,180,1st,0,"Millet, Mr Francis Davis",65.0,Southampton,"East Bridgewater, MA",NaN,NaN,(249),male
2,556,557,2nd,0,"Sjostedt, Mr Ernst Adolf",59.0,Southampton,"Sault St Marie, ON",NaN,NaN,NaN,male
3,174,175,1st,0,"McCaffry, Mr Thomas Francis",46.0,Cherbourg,"Vancouver, BC",NaN,NaN,(292),male
4,1232,1233,3rd,0,"Strilic, Mr Ivan",NaN,NaN,NaN,NaN,NaN,NaN,male
...,...,...,...,...,...,...,...,...,...,...,...,...
914,455,456,2nd,1,"Ilett, Miss Bertha",17.0,Southampton,Guernsey,NaN,NaN,NaN,female
915,634,635,3rd,0,"Andreasson, Mr Paul Edvin",20.0,Southampton,"Sweden Chicago, IL",NaN,NaN,NaN,male
916,1266,1267,3rd,0,"Van Billiard, Mr Austin Blyler",NaN,NaN,NaN,NaN,NaN,NaN,male
917,1246,1247,3rd,0,"Thomas, Mr Charles",NaN,NaN,NaN,NaN,NaN,NaN,male
918,670,671,3rd,0,"Bengtsson, Mr John Viktor",26.0,Southampton,"Krakudden, Sweden Moune, IL",NaN,NaN,NaN,male

In [11]:
X = df[["pclass", "age", "sex"]]
y = df['survived']

In [12]:
median = X['age'].median()
X['age'].fillna(median, inplace=True)
X

    pclass   age     sex
0      3rd  21.0    male
1      1st  30.5  female
2      1st  58.0    male
3      3rd  16.0  female
4      2nd  42.0    male
..     ...   ...     ...
389    1st  48.0  female
390    3rd  30.5    male
391    3rd  30.5    male
392    1st  30.5  female
393    3rd  30.5    male

[394 rows x 3 columns]

In [13]:
X['pclass'].replace('3rd', 3, inplace=True)
X['pclass'].replace('2nd', 2, inplace=True)
X['pclass'].replace('1st', 1, inplace=True)
X

     pclass   age     sex
0         3  21.0    male
1         1  30.5  female
2         1  58.0    male
3         3  16.0  female
4         2  42.0    male
..      ...   ...     ...
389       1  48.0  female
390       3  30.5    male
391       3  30.5    male
392       1  30.5  female
393       3  30.5    male

[394 rows x 3 columns]

In [14]:
X['sex'] = np.where(X['sex'] == 'female', 0, 1)

In [15]:
X.to_csv("test_data.csv")

In [25]:
rf = RandomForestClassifier(n_estimators=100)

In [24]:
#X_test, y_test = X, y
X_train, y_train = X, y

In [26]:
rf.fit(X_train, y_train)

RandomForestClassifier()

In [30]:
accuracy = rf.score(X_test, y_test)
accuracy

0.8299492385786802

In [34]:
with open("classifier.sav", "wb") as f:
    joblib.dump(rf, f)

In [35]:
with open("classifier.sav", "rb") as f:
    model = joblib.load(f)

In [41]:
prediction = model.predict(X_test)
target = y_test.to_numpy()

In [42]:
print(metrics.classification_report(target, prediction, digits=3))
print(metrics.confusion_matrix(target, prediction))

              precision    recall  f1-score   support

           0      0.839     0.919     0.877       260
           1      0.807     0.657     0.724       134

    accuracy                          0.830       394
   macro avg      0.823     0.788     0.801       394
weighted avg      0.828     0.830     0.825       394

[[239  21]
 [ 46  88]]